<div class="row mx-auto">
    <div class="col-md-6 mx-auto mt-5">
        <form>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="password">
            </div>
            <button type="button" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>
